{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="container">
                <h1 class="mt-5">Detalles de la Cita</h1>
                <ul class="list-group mt-4">
                    <li class="list-group-item"><strong>Usuario:</strong> {{ datos_atencion.id_cita.usuario.nombre }} {{ datos_atencion.id_cita.usuario.apellido }}</li>
                    <li class="list-group-item"><strong>Médico:</strong> {{ datos_atencion.id_cita.id_medico.usuario.nombre }} {{datos_atencion.id_cita.id_medico.usuario.apellido }}</li>
                    <li class="list-group-item"><strong>Especialidad:</strong> {{ datos_atencion.id_cita.id_medico.especialidad }}</li>
                    <li class="list-group-item"><strong>Fecha:</strong> {{ datos_atencion.id_cita.id_horario.fecha }}</li>
                    <li class="list-group-item"><strong>Hora:</strong> {{ datos_atencion.id_cita.id_horario.hora }}</li>
                    <li class="list-group-item"><strong>Diagnostico principal:</strong> {{ datos_atencion.diagnostico_principal }}</li>
                    <li class="list-group-item"><strong>Patología GES:</strong> {{ datos_atencion.disgnotico_complementario }}</li>
                    <li class="list-group-item"><strong>Diagnostico complementario:</strong> {{ datos_atencion.disgnotico_complementario }}</li>
                    <li class="list-group-item"><strong>presion:</strong> {{ datos_atencion.presion }}</li>
                    <li class="list-group-item"><strong>temperatura:</strong> {{ datos_atencion.temperatura }}</li>
                    <li class="list-group-item"><strong>peso:</strong> {{ datos_atencion.peso }}</li>
                    <li class="list-group-item"><strong>satO2:</strong> {{ datos_atencion.satO2 }}</li>
                    <li class="list-group-item"><strong>pulso:</strong> {{ datos_atencion.pulso }}</li>
                    <li class="list-group-item"><strong>alergias:</strong> {{ datos_atencion.alergias }}</li>
                    <li class="list-group-item"><strong>tratamiento:</strong> {{ datos_atencion.tratamiento }}</li>
                </ul>
                <a href="{% url 'lista_datos_atencion' %}" class="btn btn-primary mt-4">Regresar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
