{% extends 'base.html' %}

{% block content %}
<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Eliminar Datos de Atención</h4>
            <p class="card-description">¿Estás seguro que deseas eliminar estos datos de atención?</p>
            <form method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Eliminar</button>
              <a href="{% url 'detalle_datos_atencion' datos_atencion.id %}" class="btn btn-secondary">Cancelar</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
