{% extends 'base.html' %}

{% block content %}
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
        <div class="col-lg-auto grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Usuarios</h4>
                  <p class="card-description">
                    Lista de Usuarios
                  </p>
                  <div class="table-responsive">
                    <a name="" id="" class="btn btn-primary" href="{% url 'crear_usuario' %}" role="button">Crear Usuario</a>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Apellido</th>
                          <th>Rut</th>
                          <th>Rol</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for usuario in usuarios %}
                        <tr>
                          <td>{{usuario.nombre}}</td>
                          <td>{{usuario.apellido}}</td>
                          <td>{{usuario.rut}}</td>
                          <td>{{usuario.rol}}</td>
                          <td class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <a name="" id="" class="btn btn-primary" href="{% url 'modificar_usuario' usuario.id %}" role="button">Modificar</a>
                            <a name="" id="" class="btn btn-secondary" href="{% url 'mostrar_usuario' usuario.id %}" role="button">Ver</a>
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_usuario' usuario.id %}" role="button">Eliminar</a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            </div>
              </div>
            </div>
{% endblock content %}
