{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Fichas Medicas{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body>

   <div class="container-fluid">
    <div class="row d-flex">
      <!-- Sidebar -->
      <div class="col-md-2 sidebar">
        <h4 class="d-flex align-items-center">
          <img src="{% static 'images/logo.png' %}" alt="404" class="me-2" style="max-height: 80px;">
          Fichas Medicas
        </h4>
        <ul>
          <li class="active"><a href="{% url 'menu' %}">Menú</a></li>
          <li class="active"><a href="{% url 'usuarios' %}">Usuarios</a></li>
          <li class="active"><a href="{% url 'fichas' %}">Fichas</a></li>
          <li class="active"><a href="{% url 'personalsalud' %}">Personal de salud</a></li>
          <li class="active"><a href="{% url 'especialidad' %}">Especialidad</a></li>
        </ul>
		<div class="dropdown pb-4">
                    {% if user.is_authenticated %}
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">

                        <span class="d-none d-sm-inline mx-1">{{user.get_full_name}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                    </ul>
                    {% else %}
                    <a href="{% url 'login' %}" class="d-flex align-items-center text-white text-decoration-none"
                        id="dropdownUser1">Iniciar sesión</a>
                    {%endif%}
                </div>
      </div>
      <!-- Main Content -->
      <div class="col-md-9 p-2">
                {% if user.is_authenticated %}

                    {% block content %}
                    {% endblock content %}
                {% endif %}
      </div>
    </div>
  </div>

{% bootstrap_javascript %}
</body>

</html>


