{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="card">
    <div class="card-body">
      <div class="container">
        <div class="container">
            <h1 class="mt-5">Detalles del Personal de salud</h1>
            <ul class="list-group mt-4">
                <li class="list-group-item"><strong>Nombre:</strong> {{ personal.usuario.nombre }}</li>
                <li class="list-group-item"><strong>Apellido:</strong> {{ personal.usuario.apellido }}</li>
                <li class="list-group-item"><strong>RUT:</strong> {{ personal.usuario.rut }}</li>
                <li class="list-group-item"><strong>especialidad:</strong> {{ personal.especialidad }}</li>

            </ul>
            <a href="{% url 'personalsalud' %}" class="btn btn-secondary">Regresar</a>
        </div>
    </div>
    </div>
</div>
{% endblock %}

