{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="card">
    <div class="card-body">
      <div class="container">
        <div class="container">
            <h1 class="mt-5">Detalles de la especialidad</h1>
            <ul class="list-group mt-4">
                <li class="list-group-item"><strong>Nombre:</strong> {{ especialidad.name }}</li>


            </ul>
            <a href="{% url 'especialidad' %}" class="btn btn-primary mt-4">Regresar</a>
        </div>
    </div>
    </div>
</div>
{% endblock %}
