{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="card">
    <div class="card-body">
      <div class="container">
        <div class="container">
            <h1 class="mt-5">Detalles del Paciente</h1>
            <ul class="list-group mt-4">
                <li class="list-group-item"><strong>Nombre:</strong> {{ ficha.nombre }}</li>
                <li class="list-group-item"><strong>Apellido:</strong> {{ ficha.apellido }}</li>
                <li class="list-group-item"><strong>RUT:</strong> {{ ficha.rut }}</li>
                <li class="list-group-item"><strong>Fecha Nacimiento:</strong> {{ ficha.fecha_nacimiento|date:'d/m/Y' }}</li>
                <li class="list-group-item"><strong>Prevision Salud:</strong> {{ ficha.prevision_salud }}</li>
                {%if ficha.prevision_salud == 'Isapre' %}
                <li class="list-group-item"><strong>Tipo de Isapre:</strong> {{ ficha.tipo_isapre }}</li>
                {% endif %}
                <li class="list-group-item"><strong>Domicilio:</strong> {{ ficha.domicilio }}</li>
                <li class="list-group-item"><strong>Sexo:</strong> {{ ficha.sexo }}</li>
            </ul>
            <a href="{% url 'fichas' %}" class="btn btn-primary mt-4">Regresar</a>
        </div>
    </div>
    </div>
</div>
{% endblock %}