
{% extends 'base.html' %}
{% load static %}
<script src="{% static 'bootstrap5/js/bootstrap.min.js' %}"></script>
<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'form_script.js' %}"></script>

{% block content %}
<div class="card">
  <div class="card-body">
    <div class="container">
      <h1>Create Cita</h1>
      <form method="post">
        {% csrf_token %}

        <div class="mb-3">
          <label for="{{ form.usuario.id_for_label }}" class="form-label">{{ form.usuario.label }}</label>
          {{ form.usuario }}
        </div>

        <div class="mb-3">
          <label for="{{ form.id_medico.id_for_label }}" class="form-label">{{ form.id_medico.label }}</label>
          {{ form.id_medico }}
        </div>

        <div class="mb-3">
          <label for="{{ form.id_horario.id_for_label }}" class="form-label">{{ form.id_horario.label }}</label>
          {{ form.id_horario }}
        </div>

        <div class="mb-3">
          <label for="{{ form.acompannante.id_for_label }}" class="form-label">{{ form.acompannante.label }}</label>
          {{ form.acompannante }}
        </div>

        <div class="mb-3">
          <label for="{{ form.telefono.id_for_label }}" class="form-label">{{ form.telefono.label }}</label>
          {{ form.telefono }}
        </div>

        <div class="mb-3">
          <label for="{{ form.correo.id_for_label }}" class="form-label">{{ form.correo.label }}</label>
          {{ form.correo }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    // Get the select element for id_medico and id_horario
    const idMedicoSelect = $('#id_medico');
    const idHorarioSelect = $('#id_horario');

    // Function to update id_horario choices based on selected id_medico
    function updateHorarioChoices() {
      const idMedicoValue = idMedicoSelect.val();
      idHorarioSelect.empty();

      // Fetch the filtered id_horario choices for the selected id_medico
      $.ajax({
        url: '{% url "get_horario_choices" %}',
        type: 'GET',
        data: { id_medico: idMedicoValue },
        dataType: 'json',
        success: function(data) {
          $.each(data, function(index, option) {
            idHorarioSelect.append($('<option></option>').attr('value', option[0]).text(option[1]));
          });
        },
        error: function() {
          alert('An error occurred while fetching the data.');
        },
      });
    }

    // Call the updateHorarioChoices function when id_medico selection changes
    idMedicoSelect.on('change', updateHorarioChoices);

    // Call the updateHorarioChoices function on page load
    updateHorarioChoices();
  });
</script>
{% endblock %}


