{% extends 'base.html' %}

{% block content %}
<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Eliminar Cita</h4>
            <p class="card-description">¿Estás seguro que deseas eliminar esta cita?</p>
            <ul class="list-group mt-4">
                <li class="list-group-item"><strong>Paciente:</strong> {{ cita.usuario.nombre }} {{ cita.usuario.apellido }}-{{ cita.usuario }}</li>
                <li class="list-group-item"><strong>Horario:</strong> {{ cita.id_horario }}-{{ cita.id_horario.hora }}</li>
                <li class="list-group-item"><strong>Acompañante:</strong> {{ cita.acompannante }}</li>
                <li class="list-group-item"><strong>Médico:</strong> {{ cita.id_medico }}</li>
                <li class="list-group-item"><strong>Especialidad:</strong> {{ cita.id_medico.especialidad }}</li>
                <li class="list-group-item"><strong>Teléfono:</strong> {{ cita.telefono }}</li>
                <li class="list-group-item"><strong>Correo Electrónico:</strong> {{ cita.correo }}</li>
            </ul>
            <form method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Eliminar</button>
              <a href="{% url 'citas' %}" class="btn btn-secondary">Cancelar</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}