body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:  #e4cfdd ;
}

.sidebar {
  background-color:  #79cedb ;
  color: #f8f9fa;
  height: 100vh;
}

.sidebar h4 {
  color: #f8f9fa;
  padding: 20px;
}

.sidebar ul {
  padding-left: 0;
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  display: block;
  padding: 10px 20px;
  color: #f8f9fa;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color:  #0097a7 ;
  color: #f8f9fa;
}



.active a {
  background-color: #9575cd;
  color: #f8f9fa;
  border-radius: 5px;
}

