{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="card">
    <div class="card-body">
        <div class="container">
            <form action="" method="POST">
                <h1 class="mt-5">Creación/Edición de Usuario</h1>
                {% csrf_token %}
                <div class="form-group mt-4">
                    {{ form }}
                </div>
                <div class="btn-group mt-2">
                    <input type="submit" class="btn btn-primary" name="Submit" value="Guardar">
                    <a href="{% url 'usuarios' %}" class="btn btn-secondary">Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}