{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="card">
    <div class="card-body">
      <div class="container">
        <div class="container">
            <h1 class="mt-5">Detalles del Usuario</h1>
            <ul class="list-group mt-4">
                <li class="list-group-item"><strong>Nombre:</strong> {{ usuario.nombre }}</li>
                <li class="list-group-item"><strong>Apellido:</strong> {{ usuario.apellido }}</li>
                <li class="list-group-item"><strong>RUT:</strong> {{ usuario.rut }}</li>
                <li class="list-group-item"><strong>Correo:</strong> {{ usuario.correo }}</li>
                <li class="list-group-item"><strong>Rol:</strong> {{ usuario.get_rol_display }}</li>
            </ul>
            <a href="{% url 'usuarios' %}" class="btn btn-primary mt-4">Regresar</a>
        </div>
    </div>
    </div>
</div>
{% endblock %}

