{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Seleccionar Horas Disponibles</h1>
    <h3>Médico: {{ medico.nombre }}</h3>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.fecha.id_for_label }}" class="form-label">Fecha</label>
        {{ form.fecha }}
      </div>
      <div class="form-group">
        <label class="form-label">Horas disponibles</label>
        {% for choice in form.hora %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="{{ choice.id_for_label }}" value="{{ choice.value }}">
            <label class="form-check-label" for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
          </div>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>
{% endblock %}
