<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTalBook</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>

<body>
    <div class="min-vh-100 d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card-group">
                        <div class="card py-5 blur-grey">
                            <div class="card-body text-center">
                                <h1>UTalBook</h1>
                            </div>
                        </div>
                        <div class="card py-4">
                            <div class="card-body d-flex align-items-center mx-auto">
                                <div class="row">
                                    <div class="col">
                                        <form method="post">
                                            {% csrf_token %}
                                            {% bootstrap_form form %}
                                            {% buttons %}
                                            <button class="btn btn-primary" type="submit">Ingresar</button>
                                            {% endbuttons %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% bootstrap_javascript %}
</body>

</html>