{% load static %}

<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <img src="{% static 'images/patient.png' %}" class="card-img-top img-fluid" alt="Tomar Hora de Paciente">
                            <div class="card-body text-center">
                                <h5 class="card-title">Tomar Hora de Paciente</h5>
                                <p class="card-text"></p>
                                <a href="{% url 'crear_citas' %}" class="btn btn-primary">Tomar Hora</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <img src="{% static 'images/doctor.png' %}" class="card-img-top img-fluid" alt="Inicio de sesión Personal">
                            <div class="card-body text-center">
                                <h5 class="card-title">Inicio de Sesión para Médicos</h5>
                                <p class="card-text"></p>
                                <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>